* {
    box-sizing: border-box;
}
body {
    background-color: #5293b3;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio, .juego, .agregar-palabra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas-ahorcado {
    max-width: 1200px;
    max-height: 800px;
}