* {
    box-sizing: border-box;
}
body {
    background-color: #F3F5FC;
    height: 100vh;
}
header {
    height: fit-content;
    margin-bottom: 1em;
}
    h1 {
        margin: 0;
        height: 10vh;
        padding-top: 5%;
        padding-left: 5%;
    }
        header img {
            height: 100%;
        }
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.button_azul {
    background-color: #0A3871;
    color: #F3F5FC;
    width: 100%;
    font-size: 3em;
    padding: 1em 0;
    margin: 30px 0;
    border-radius: 50px;
}
.button_transparente {
    background-color: transparent;
    color: #0A3871;
    border: 2px solid #0A3871;
    width: 100%;
    font-size: 3em;
    padding: 1em 0;
    margin: 30px 0;
    border-radius: 50px;
}


/*MENU DE INICIO*/
.inicio {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    transition: 2s;
}
.inicio__button_azul {
    width: 100%;
    padding: 2em 0;
}
.inicio__button_transparente {
    width: 80%;
}



/*JUEGO DEL AHORCADO*/
.juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80vh;
}
    .juego__caja {
        width: inherit;
        height: 70%;
        text-align: center;
    }
    .imagen-ahorcado {
        height: 70%;
        width: 100%;
        position: relative;
    }
    .imagen-ahorcado img {
        position:absolute;
    }
        #error_1 {
            top: 95%;
            right: 5%;
            width: 90%;
        }
        #error_2 {
            top: 5%;
            right: 89%;
            height: 90%;
            width: 2%;
        }
        #error_3 {
            top: 5%;
            right: 30%;
            width: 60%;
            height: 2%;
        }
        #error_4 {
            top: 5%;
            right: 30%;
            height: 15%;
            width: 2%;
        }
        #error_5 {
            top: 20%;
            right: 24%;
            height: 15%;
            width: 13%;
        }
        #error_6 {
            top: 35%;
            right: 29.75%;
            height: 35%;
            width: 1.5%;
        }
        #error_7 {
            top: 35%;
            right: 30%;
            width: 10%;
            height: 20%;
        }
        #error_8 {
            top: 35%;
            right: 21%;
            width: 10%;
            height: 20%;
        }#error_9 {
            top: 70%;
            right: 30%;
            width: 10%;
            height: 20%;
        }#error_10 {
            top: 70%;
            right: 21%;
            width: 10%;
            height: 20%;
        }

    .palabra-secreta {
        height: 20%;
    }
    .letras-incorrectas {
        height: 10%;
    }
        .letras-incorrectas textarea {
            background-color: transparent;
            border: none;
            outline: none;
            width: 50%;
            height: 100%;
            
        }


    
/*MENU PARA AGREGAR PALABRAS*/
.agregar-palabra {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


    
